

//form animation  ----------------------------------------

.form-container
    form
        transform: scale(1)
    .triggered
        animation: bouncy 1200ms both 500ms 
    @keyframes bouncy
        0%
          transform: scale(1)
        50%
          transform: scale(1.03)
        100%
          transform: scale(1)  
        

//----------------------------------------    